.home {
  padding: 20px 100px 20px 100px;
}

.home ul {
  list-style: none;
}

.btn {
  padding-left: 30px;
}

.story {
  width: 25%;
  display: inline-grid;
  justify-content: center;
}

.story-form {
  width: 25%;
}

.final-story {
  border: 2px solid #333;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
}

.save {
  margin-top: 15px;
}
