.home ul {
  list-style: none;
}

.btn {
  padding-left: 30px;
}

.story {
  width: 65%;
  display: table-cell;
}

.final-story {
  border: 2px solid #333;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
}

story-form {
  width: 400px !important;
}

.save {
  margin-top: 15px;
}
