.field {
  display: block;
}

.page-card {
  max-width: 400px;
  min-width: 360px;
  height: 350px;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  background-color: #666;
  text-align: center;
}

.page-list {
  margin: 0 auto;
  margin-top: 35px;
  background-color: rgba(128, 128, 128, 0.31);
  width: 90%
}

.btn {
  padding-left: 30px;
  margin: -3px 0px 0px 0px;
  /*background-color: rgb(225, 93, 93);*/
}

.card-text {
  overflow-y: scroll;
  height: 190px;
  border: 1px solid grey;
  padding: 10px;

}

.card-title {
  font-weight: bold !important;
  text-decoration: underline !important;
  text-align: left !important;
  border-bottom: 3px solid black;
}

.card-box {
  padding: 10px 10px 0px 10px !important;
}

.card-header h1 {
  margin: 30px auto 0px;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 0 0 10px 0;
  width: 90%;
}

.story-error {
  padding: 25px;
  margin: 150px;
}

.story-error a {
  text-decoration: none;
}
