.sign-up {
  display: inline-grid !important;
  max-width: 650px;
  min-width: 250px;
  border: 5px solid #999;
  padding: 20px 100px 20px 100px;
}

.button {
display: block;
margin-left: 20px;
margin-top: 28px;
}

.upForm h2 {
  padding-top: 5%
}

.upForm p {
  padding-top: 1%;
}
