.change-form {
  width: 500px !important;
  justify-content: center !important;
  margin: 0 auto !important;
  padding: 10% !important;
  border: 2px solid #888 !important;
  margin-top: 80px !important;
}
